                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Keywords" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>